<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidlib.jokes" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity android:name=".AndroidJokeActivity" >
        </activity>
    </application>

</manifest>
